<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:p="http://www.springframework.org/schema/p"
	xsi:schemaLocation="http://www.springframework.org/schema/beans  
               http://www.springframework.org/schema/beans/spring-beans-3.0.xsd">

	<!--1. <bean class="com.capg.model.Employee" name="emp" p:empId="2" p:empName="Sukanya" 
		p:address-ref="add"/> -->

	<!-- <bean class="com.capg.model.Employee" name="emp">
		<property name="empId">
			<value>2</value>
		</property>
		<property name="empName">
			<value>Sukanya</value>
		</property>
		<property name="address">
		<ref bean ="add"></ref>
		</property>
	</bean> -->
	
	<bean class="com.capg.model.Employee" name="emp">
	<property name ="empId" value="2"/>
	<property name ="empName" value="Sukanya"/>
	<property name ="address" ref="add"/>
	</bean>
	<bean class="com.capg.model.Address" name="add" p:addrId="4"
		p:loc="Mangalore" />


</beans>  